[Unit]
Description="Start pg-promise node application"
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/pg_environment.conf
ExecStart=/usr/bin/node "{{ dir }}/src/server.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
